html {
    -webkit-tap-highlight-color: transparent;
    font-size: 12px;
    line-height: 1.4;
}

body {
    background: #dadad2;
}

a {
    color: #494949;
    text-decoration: underline;
}

a:hover {
    color: #e84c3d;
}

a.no-decoration {
    text-decoration: none;
}

h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 .5em;
    padding: 0;
}

.content-box {
    background: #fff;
    font-size: 14px;
    padding: 20px;
    border-radius: 6px;
    -ms-box-shadow: 0 5px 0 #a0a08e 2px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 5px 0 #a0a08e 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 0 #a0a08e 2px 5px rgba(0, 0, 0, 0.4);
}

.content-box-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 10px;
    padding: 0;
}

@media (max-width: 992px) {
    .content-box-title {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1060px;
    }
}

#footer a, #menu .menu-item a, #menu-button-mobile, .container-full a.btn, .encoding-result-help a, .native-ad a, .native-ad a:hover, .nav-tabs li a, .privacy-languages a {
    text-decoration: none;
}

.nav-tabs {
    border-color: #fff;
}

.nav-tabs li a {
    background: #fff;
    opacity: 0.65;
}

.nav-tabs li a:hover {
    color: inherit;
}

.nav-tabs li.active a {
    opacity: 1;
}

#header {
    background: #fff;
    height: 76px;
    position: relative;
    -ms-box-shadow: 0 2px 5px #bfbfb7 2px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 2px 5px #bfbfb7 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px #bfbfb7 2px 5px rgba(0, 0, 0, 0.4);
}

#header-logo {
    display: block;
    margin: 17px 0 0;
}

@media (max-width: 992px) {
    #header {
        height: 64px;
    }

    #header-logo {
        margin-top: 14px;
    }

    #header-logo #header-logo-img img {
        width: 100px;
        height: 34px;
    }
}

@media (max-width: 768px) {
    #header-logo {
        margin-left: 10px;
    }

    #menu {
        display: none;
    }
}

#menu .menu-item {
    border-left: 1px solid #dedede;
    display: block;
    float: left;
    font-size: 16px;
    height: 76px;
    line-height: 76px;
    margin: 0;
    padding: 0;
    position: relative;
}

#menu .menu-item a {
    color: #494949;
    display: block;
    padding: 0 25px;
}

@media (max-width: 992px) {
    #menu .menu-item {
        font-size: 14px;
        height: 64px;
        line-height: 64px;
    }

    #menu .menu-item a {
        padding: 0 20px;
    }
}

#menu .menu-item a:hover {
    background: #efefef;
}

#menu .menu-item .fa {
    color: #aaa;
}

#menu .menu-item:last-child {
    border-right: 1px solid #dedede;
}

#menu .menu-item-current a:after {
    background: url(/static/imgs/current-menu-item.png) no-repeat;
    bottom: -9px;
    content: "";
    display: block;
    height: 9px;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 17px;
}

#menu a.button-github {
    background: url(/static/imgs/icon-heart.png) 90px center no-repeat #e84c3d;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    height: auto;
    line-height: 1em;
    margin-left: 25px;
    padding: 8px 45px 6px 25px;
    border-radius: 3px;
    -ms-box-shadow: 0 5px 0 #ba3d31 2px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 5px 0 #ba3d31 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 0 #ba3d31 2px 5px rgba(0, 0, 0, 0.4);
}

#menu a.button-github:hover {
    background: url(/build//img/icon-heart-8c8bec6c97.png) 90px center no-repeat #c40a0b;
    -ms-box-shadow: 0 5px 0 #950b00 2px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 5px 0 #950b00 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 0 #950b00 2px 5px rgba(0, 0, 0, 0.4);
}

#menu-button-mobile {
    display: none;
    font-size: 28px;
    padding: 18px;
    color: #626262;
}

#menu-container-mobile {
    display: none;
    background: #fff;
}

#menu-container-mobile #menu-mobile {
    margin: 0;
    padding: 0;
}

#menu-container-mobile #menu-mobile .menu-item {
    border-bottom: 1px solid #d1d1c7;
    list-style-type: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menu-container-mobile #menu-mobile .menu-item a {
    display: block;
    text-decoration: none;
}

#mr-base64 {
    margin: 60px 0 0 55px;
}

@media (max-width: 992px) {
    #mr-base64 {
        margin-left: 0;
        width: 200px;
        height: 269px;
    }
}

#drag-target.active {
    color: #71715d;
    background-color: #c6c6bd;
}

#click-target:hover, #drag-target-box:hover #click-target {
    background: #70705c;
}

#drag-area {
    margin-bottom: 40px;
}

#drag-box-title {
    color: #fff;
    font-size: 50px;
    font-weight: 1000;
    line-height: 60px;
    margin: 30px 0 0;
    padding: 0;
    text-align: center;
}

@media (max-width: 1200px) {
    #drag-box-title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 992px) {
    #drag-box-title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media (max-width: 768px) {
    #drag-box-title {
        font-size: 20px;
        line-height: 32px;
        margin-top: 40px;
    }

    #drag-target-box {
        display: none;
    }
}

#drag-target-box {
    border: 3px dashed #91917d;
    cursor: pointer;
    font-size: 21px;
    font-weight: 700;
    line-height: 76px;
    margin-top: 35px;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
}

#drag-target-box:hover #drag-target {
    background: #d1d1c7;
}

#drag-target-box.active {
    border-color: #626262;
}

#drag-target {
    color: #91917d;
    padding: 0 55px;
    border-radius: 6px 0 0 6px;
}

#click-target {
    background: #91917d;
    border: none;
    color: #fff;
    padding: 0 0px;
    border-radius: 6px 6px 6px 6px;
}

@media (max-width: 1200px) {
    #drag-target-box {
        font-size: 19px;
    }

    #drag-target {
        padding: 0 35px;
    }

    #click-target {
        padding: 0 12px;
    }
}

@media (max-width: 992px) {
    #drag-target-box {
        font-size: 16px;
        line-height: 54px;
    }

    #drag-target {
        padding: 0 15px;
    }

    #click-target {
        padding: 0 8px;
    }
}

#browser-support {
    margin: 1em 0;
    padding: 0;
}

#browser-support li {
    float: left;
    font-size: 14px;
    line-height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 10px;
    width: 120px;
}

@media (max-width: 992px) {
    #browser-support li {
        display: inline-block;
        float: none;
        font-size: 12px;
        white-space: nowrap;
        width: auto;
    }
}

#browser-support img {
    margin-right: 8px;
    vertical-align: middle;
}

#footer {
    color: #868678;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#footer a {
    color: inherit;
}

#footer a:hover {
    color: #e84c3d;
}

.drag-overlay {
    background-color: #262626;
    display: block;
    height: 100%;
    opacity: .6;
    position: fixed;
    top: 0;
    width: 100%;
}

#big_logo {
    margin-top: 140px;
}

#convert-arrow {
    margin: 25px 0 8px -120px;
}

label {
    width: 200px;
    text-align: right;
    font-size: 25px;
    font-weight: bold;

    /* border: 1px solid purple; */
}

#span_plate, #span_location, #span_confidence {
    font-size: 25px;
}

.car_info {
    padding-top: 20px;

    /* border: 1px solid red; */
}

.car_info_item label {
    font-size: 20px;
}


.failed, .success {
    font-size: 20px;
    display: inline;
}

.failed {
    color: red;
}

.success {
    color: green;
}

#span_msg_title {
    font-weight: bold;
    font-size: 20px;
	color: black;
}

#div_msg {
	text-align: left;
}

.line {
    display: inline;
}