<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script src="/static/style.js"></script>
    <title>FlaskLNRDemo-在线车牌号码识别演示系统</title>
</head>
<body>
<div>
    <h1>FlaskLNRDemo-在线车牌号码识别演示系统</h1>
</div>
<div>
    <form method=POST enctype=multipart/form-data action="{{ url_for('recognize') }}">
        <input type="file" id=photo name=photo placeholder="请上传含车牌的图片" accept=".png,.jpg,.jpeg">
        <input type=submit value="提交">
    </form>
</div>
<div></div>
</body>
</html>